version: '2.3'

services:
  web:
    build: 
      context: ./application
      dockerfile: Dockerfile.gpu
    runtime: nvidia
    ports:
      - 8004:8000
    command: uvicorn transport.main:app --host 0.0.0.0 --reload
    volumes:
      - ./application/transport:/usr/src/app/transport
      - ./application/models:/usr/src/app/models
      - ./application/db:/usr/src/app/db
      - ./.conf/app_config.yaml:/usr/src/app/.conf/app_config.yaml
      - ./media:/usr/src/app/media
    environment:
      - ML_CONFIG_PATH=.conf/app_config.yaml
      - SQLALCHEMY_DATABASE_URL=sqlite:///db/emotion_app.db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis

  worker:
    build: 
      context: ./application
      dockerfile: Dockerfile.gpu
    runtime: nvidia
    command: celery --app=transport.worker.celery worker -P solo --loglevel=info --logfile=logs/celery.log
    volumes:
      - ./application/transport:/usr/src/app/transport
      - ./application/models:/usr/src/app/models
      - ./application/db:/usr/src/app/db
      - ./.conf/app_config.yaml:/usr/src/app/.conf/app_config.yaml
      - ./logs/app_logs:/usr/src/app/logs
      - ./media:/usr/src/app/media
    environment:
      - ML_CONFIG_PATH=.conf/app_config.yaml
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - web
      - redis

  redis:
    image: redis:6-alpine
