body,
html {
    height: 100%;
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
    margin: 8px;
}

.greeter {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.header {
    margin-bottom: 30px;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1151b7;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 12px 15px;
    border: 1px solid #1151b7;
}

.styled-table td {
    padding: 12px 15px;
    height: 64px;
    border: 1px solid #1151b7;
}

.centred-th-style {
    text-align: center;
    padding: 12px 15px;
}

.centred-td-style {
    text-align: center;
    padding: 12px 15px;
    height: 64px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #2356a8;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #15438d;
}

.new-task-button {
    font-weight: bold;
    background-color: #2679ff;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.new-task-button:hover {
    background-color: #1151b7;
}

.headline {
    font-weight: bold;
    font-size: 32px;
    color: #222032;
    float: left;
    margin-top: 0;
    margin-bottom: 5px;
}